body{
    background-color: #333;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input:focus {
    
    background:#333;
}

input, select, textarea, button{
    color: white;
    background:#333;
}

input, button {
    outline: 0;
    border-width: 0 0 2px 0;
    border-color: white
}

.rbc-center-text {
    fill:white !important;
    font-size: 35px !important;
}

.common-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-block {
    -webkit-app-region: drag;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.report-block {
    -webkit-app-region: no-drag;    
}

.time-block {
    -webkit-app-region: no-drag;    
    display: flex;
    margin-bottom: 5px;
}

input, button {
    height: 25px;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

.task-input {
    flex-grow: 1;
    height: 25px;
    max-width: 195px;
}

.duration-input {
    width: 10%;
    margin: 0 5px;
    flex-shrink: 0;
    text-align: center;
}

.date-input {
    width: 25%;
    flex-shrink: 0;
    text-align: center;
}

.report-input {
    width: 100%;
}

.save-button {
    -webkit-app-region: no-drag;
    width: 100px;
    height: 55px;
    margin: 0 5px;
    border-right-width: 2px;
}

.save-button:hover {
    background:#444;
}

.save-button:disabled {
    color:#666;
    cursor: initial;
    background:#333;
}

.manage-buttons {
    display: flex;
    justify-content: space-around;
}

.manage-buttons button {
    -webkit-app-region: no-drag;
    font-size: 10px;
    text-align: center;
    padding: 8px 10px;
    border: none;
    height: auto;
}

.manage-buttons button:hover {
    color:#aaa;
}

.manage-buttons button:active {
    color:#666;
}

.manage-buttons button:disabled {
    color:#666;
    cursor: initial;
}

.statistics-button {
    height: 20px;
}

.worked-block {
    -webkit-app-region: no-drag;
    width: 160px;
    flex-shrink: 0;
    margin: auto 0;
}

.tracked-block {
    -webkit-app-region: no-drag;
    width: 90px;
    height: 90px;
}

.settings-button {
    -webkit-app-region: no-drag;
    width: 100%;
    cursor: pointer;
    text-align: center;
}

.ccontainer {
    text-align: center;
}

.ccontainer div {
    display: inline-block;
    width: 90px;
}

.rbc-label-start {
    font-family: fontawesome;
    font-weight: bold;
    font-size: 20px;
}

.rbc-center-text {
    font-family: 'Roboto', 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial;
    fill:black;
    font-size: 25px;
}

.flipTimer {
    display: flex;
}

.flipTimer .hours {
    margin-right: 4px;
}