.common-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.time-block {
    display: flex;
    margin-bottom: 5px;
}

input, button {
    box-sizing: border-box;
}

.task-input {
    flex-grow: 1;
}

.duration-input {
    width: 10%;
    margin: 0 5px;
    flex-shrink: 0;
}

.date-input {
    width: 25%;
    flex-shrink: 0;
}

.report-input {
    width: 100%;
}

.save-button {
    width: 100px;
    margin: 0 5px;
    cursor: pointer;
}

.worked-block {
    width: 220px;
    height: 100px;
    background: #ffffdd
}

.tracked-block {
    width: 100px;
    height: 100px;
}

.settings-button {
    width: 100%;
    cursor: pointer;
    text-align: center;
}

.ccontainer {
    text-align: center;
  }
  
  .ccontainer div {
    display: inline-block;
    width: 90px;
  }
  
  .rbc-label-start {
    font-family: fontawesome;
    font-weight: bold;
    font-size: 20px;
  }
  
  .rbc-center-text {
    font-family: 'Roboto', 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial;
    fill:black;
    font-size: 25px;
  }