body {
font: 14px/1.5 "Helveticat Neue", Helvetica, Arial;
margin: 10px;

    background-color: #333;
    color: white;
}

input:focus {
    
    background:#333;
}

input, select, textarea, button{
    color: white;
    background:#333;
}

input, button {
    outline: 0;
    border-width: 0 0 2px 0;
    border-color: white
  }


.projects-container {
border: 1px solid gray;
overflow: auto;
min-height: 100px;
max-height: 220px;
padding: 5px;
margin-bottom: 5px;
}

.settings-container {
margin-bottom: 5px;
}

.settings-separated-container {
margin-bottom: 15px;
}

.centered {
text-align: center;
}

#path-textbox {
font-size: 14px;
width: 244px;
}

#path-button {
padding: 2px;
width: 20px;
}

.settings-checkbox {
height: 20px;
vertical-align: bottom;
width: 20px;
}

.label-container {
display: inline-block;
width: 90px;
}

.controls-container {
bottom: 0;
margin: 10px;
position: absolute;
right: 0;
}

.tags {
font: 12px/1.5;
list-style: none;
margin: 0;
overflow: hidden; 
padding: 0;
}

.tags li {
float: left; 
}

.tag {
background: #222;
border-radius: 3px 0 0 3px;
color: #999;
display: inline-block;
font-size: 12px;
height: 20px;
line-height: 20px;
padding: 0 10px 0 18px;
position: relative;
margin: 0 6px 6px 0;
text-decoration: none;
-webkit-transition: color 0.2s;
}

.tag::before {
background: #fff;
border-radius: 5px;
box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
content: '';
height: 6px;
left: 6px;
position: absolute;
width: 6px;
top: 7px;
}

.tag:hover {
background-color: rgb(37, 159, 207);
color: white;
}

.tag.project-enabled {
background-color: #4786A0;
color: white;
}

.tag.project-enabled:hover {
    background-color: rgb(57, 110, 131);
}

input.time-input {
width: 40px;
text-align: center;
}

.controls-container button {
    border-right-width: 2px;
    padding: 10px;
}

.controls-container button:hover {
    background:#444;
}